version: 1
disable_existing_loggers: false

formatters:
  default:
    format: "%(asctime)s - %(name)s - %(levelname)s - %(message)s"

handlers:
  console:
    class: logging.StreamHandler
    formatter: default
    stream: ext://sys.stdout

root:
  level: INFO
  handlers: [console]

loggers:
  viessmann_prometheus.viessmann_prometheus:
    level: DEBUG
    handlers: [console]
    propagate: false

