version: 1
disable_existing_loggers: false

formatters:
  default:
    format: "%(asctime)s - %(name)s - %(levelname)s - %(message)s"

handlers:
  stdout:
    class: logging.StreamHandler
    level: INFO
    formatter: default
    stream: ext://sys.stdout

root:
  level: INFO
  handlers: [stdout]
